@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<ul>
       @foreach (var item in Model.students)
        {
                <li><a href="/Home/GetById/@item.Id">@item.Name</a>
                <a href="/Home/UpdateStdent/@item.Id">Update</a> 
                </li>
        }
    </ul>

<h2>@Model.Group.Number</h2>


<form action="/Home/AddStudent" method="post">
    <input type="text" name="Name" id="Name" value="" />
    <input type="text" name="Surname" id="Surname" value="" />
    <input type="submit" name="Submit" value="Submit" />
    
</form>

<form action="/Home/RemoveStudentById" method="post">
    <input type="text" name="id" value="" />
    <input type="submit" name="Submit" value="Delete" />
</form>

